.calendar-container{
  display: flex;
  flex-direction: column;
  grid-column: 1;
  gap:2rem;
  padding: 1.5rem 4rem;
  min-height: 8rem;
}

.month-picker{
  width: 6rem;
  border: none;
}

.calendar{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 3rem;
  column-gap: 3rem;
}

.day{
  aspect-ratio: 1/1;
  background-color: var(--orange);
  height: 2.25rem;
  border: 1px solid color-mix(in srgb, var(--dark-brown) 30%, transparent);
  font-size: 1.5rem;
  border-radius: 2px;
  align-content: center;
  text-align: center;
  box-shadow: 3px 3px 4px rgb(0, 0, 0, 0.6);
}