.export-btn{
    height: 2rem;
    grid-column: 1;
    background-color: rgb(255, 255, 255);
    padding: 0 0.5rem;
    border: 1px solid var(--dark-brown);
    border-radius: 5px;
}

.export-btn:hover{
    background-color: rgb(222, 222, 222);
}