.info-panel{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    grid-column: 2;
    background-color: #98CA93;
    min-height: 10rem;
    max-height: 28rem;
    max-width: 15rem;
    margin: 0rem 0rem;
    border-radius: 15px;
    padding: 1rem;
}

.no-day{
    text-align: center;
}

.info-label, .no-day, .no-entry{
   font-size :1.4rem;
   font-weight: 700;
   color: var(--dark-brown);
}

.info-row{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.info-notRow{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.mood-info{
    font-size: 2.5rem;
    font-weight: 600;
    display: inline-block;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.504);
}

.weather-info{
    font-size: 3rem;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.341);
}

.note-info{
    font-size: 1.1rem;
    font-weight: 100;
    max-height: 16rem;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #006602 #adfec4;
    overflow-wrap: break-word;
}