.weather-container{
  grid-column: 2;
  display: flex;
  flex-direction: column;
  gap:4rem;
  padding: 3rem 4rem;
  font-size: 2rem;
  align-items: center;
}

.weather-btns{
  display: flex;
  flex-direction: row;
  gap:4rem;
}

.wth-emoji {
  background-color: #F9ECCF;
  min-width: 4.5rem;
  min-height: 4.5rem;
  border-radius: 15px;
  border: none;
  font-size: 2.8rem;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  line-height: 1;
}

.wth-emoji:hover{
  background-color: #F3DCA5;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
}

.selected-wth{
  background-color:rgb(253, 225, 169) ;
  scale: 1.25;
}

#sun-btn{
  background-color:#FBEAC2 ;
}

#sun-btn:hover{
   background-color: #F3DCA5;
}
