* {
  margin:0;
  padding:0;
}

#root {
  --peach: #FF9E97;
  --yellow: #FDEA71;
  --dark-brown: #471C03;
  --orange: #FFB082;
}

html, body {
  height: 100%;
}

body{
  background: #f8f9fa;
}

.header {
  width:auto;
  background-color:#FF9E97;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  gap:2rem;
}

.logo{
  height: 80px;
  max-width: 500px;
}

.menu {
  list-style: none;
  margin:0;
  padding:0;
  display:flex;
  flex-direction:row;
  gap: 4rem;
  align-items: center;
}

.menu li {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--dark-brown);
  cursor: pointer;
}

.menu li:hover{
  color: #FDEA71;
}