* {
  margin:0;
  padding:0;
}

#root {
  --coral: #FF9E97;
  --yellow: #FDEA71;
  --dark-brown: #471C03;
  --orange: #FFB082;
}

html, body {
  font-size: 100%;
  height: 100%;
}

body{
  background: #f8f9fa;
}

.main-content{
  display: grid;
  
}

.header {
  width:auto;
  background-color: var(--coral);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding: 0.5rem 2rem;
  gap:2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
}

.logo{
  height: 80px;
  max-width: 500px;
}

.menu {
  list-style: none;
  margin:0;
  padding:0;
  display:flex;
  flex-direction:row;
  gap: 4rem;
  align-items: center;
}

.menu li {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--dark-brown);
  cursor: pointer;
}

.menu li:hover{
  color: var(--yellow);
}

.greeting {
 font-size: 3rem;
 font-weight:600;
}

.mood-container{
  background-color: #FDEA71;
  margin: 1,5rem 0;
  text-align: center;
}